{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<html>
{% if app.user.name != 'Admin' %}
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- swiper css link  -->
   <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style2.css">
   <link rel="stylesheet" href="css/style3.css">
   <link rel="stylesheet" href="css/style5.css">

</head>

<body>

<header>
		<a href="{{ path('Home') }}" class="logo"><i class="ri-home-heart-fill"></i><span>Quiz</span></a>

		<ul class="navbar" style ="margin-left: 10%;">
			<li><a href="{{ path('Home') }}" class="active">Home</a></li>
			<li><a href="{{ path('Quiz') }}">Quiz</a></li>
			{# <li><a href="#">Services</a></li>
			<li><a href="#">Blog</a></li> #}
			<li><a href="{{ path('Feedback') }}">Feedback</a></li>
		</ul>

		<div class="main">
         {% if app.user.image %}
            <a href="{{ asset('uploads/images/' ~ app.user.image) }}">
               <img  src="{{ asset('uploads/images/' ~ app.user.image) }}" width="40px" style="border-radius : 50%; margin-top: 2%; margin-left: 60%; ">
            </a>
			   <a href="{{ path('Profile') }}" class="user">Welcome {{ app.user.name}}</a>
           {% else %} 
			   <a href="{{ path('Profile') }}" class="user"><i class="ri-user-fill"></i>Welcome {{ app.user.name}}</a>
         {% endif %}
			<a  href="{{ path('app_logout') }}">Logout</a>
			<div class="bx bx-menu" id="menu-icon"></div>
		</div>
</header>

<section class="contact" id="contact" style="margin-top: 5%;">

   <div class="row">

      <div class="image">
         <img src="image/contact-img.svg" alt="">
      </div>

      {{ form_start(form) }}
         <span>your name</span>
         {{ form_widget(form.name, {attr:{class: "box"}}) }}
         <span>your email</span>
         {{ form_widget(form.email, {attr:{class: "box"}}) }}
         <span>your number</span>
         {{ form_widget(form.phone, {attr:{class: "box"}}) }}
         <span>your image</span>
         {{ form_widget(form.image, {attr:{class: "box"}}) }}
         <input type="submit" value="Edit profile" class="btn" name="send">
      {{ form_end(form) }}

   </div>

</section>

<footer class="footer" style="margin-top: 5%;">

   <section>

      <div class="share">
         <a href="#" class="fab fa-facebook-f"></a>
         <a href="#" class="fab fa-twitter"></a>
         <a href="#" class="fab fa-linkedin"></a>
         <a href="#" class="fab fa-instagram"></a>
         <a href="#" class="fab fa-youtube"></a>
      </div>

      <div class="credit">&copy; copyright @ 2022-2023 | all rights reserved!</div>

   </section>

</footer>

</body>
{% else %}

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- swiper css link  -->
   <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style2.css">
   <link rel="stylesheet" href="css/style3.css">
   <link rel="stylesheet" href="css/style5.css">

</head>

<body style="background-color:white;">

 

<section class="contact" id="contact" style="margin-top: 5%;">

   <div class="row">

      <div class="image">
         <img src="image/contact-img.svg" alt="">
      </div>

      {{ form_start(form) }}
         <span>your name</span>
         {{ form_widget(form.name, {attr:{class: "box"}}) }}
         <span>your email</span>
         {{ form_widget(form.email, {attr:{class: "box"}}) }}
         <span>your number</span>
         {{ form_widget(form.phone, {attr:{class: "box"}}) }}
         <span>your image</span>
         {{ form_widget(form.image, {attr:{class: "box"}}) }}
         <input type="submit" value="Edit profile" class="btn" name="send">
      {{ form_end(form) }}

   </div>

</section>

<footer class="footer" style="margin-top: 5%;">

   <section>

      <div class="share">
         <a href="#" class="fab fa-facebook-f"></a>
         <a href="#" class="fab fa-twitter"></a>
         <a href="#" class="fab fa-linkedin"></a>
         <a href="#" class="fab fa-instagram"></a>
         <a href="#" class="fab fa-youtube"></a>
      </div>

      <div class="credit">&copy; copyright @ 2022-2023 | all rights reserved!</div>

   </section>

</footer>

</body>

{% endif %}
{% endblock %}
