{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<html>
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- swiper css link  -->
   <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />

   <!-- font awesome cdn link  -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

   <!-- custom css file link  -->
   <link rel="stylesheet" href="css/style2.css">
   <link rel="stylesheet" href="css/style3.css">
   <link rel="stylesheet" href="css/style5.css">

</head>

<body>

<header>
		<a href="{{ path('Home') }}" class="logo"><i class="ri-home-heart-fill"></i><span>Quiz</span></a>

		<ul class="navbar" style ="margin-left: 10%;">
			<li><a href="{{ path('Home') }}">Home</a></li>
			<li><a href="{{ path('Quiz') }}">Quiz</a></li>
			{# <li><a href="#">Services</a></li>
			<li><a href="#">Blog</a></li> #}
			<li><a href="{{ path('Feedback') }}"  class="active">Feedback</a></li>
		</ul>

		<div class="main">
         {% if app.user.image %}
            <a href="{{ asset('uploads/images/' ~ app.user.image) }}">
               <img  src="{{ asset('uploads/images/' ~ app.user.image) }}" width="40px" style="border-radius : 50%; margin-top: 2%; margin-left: 60%; ">
            </a>
			   <a href="{{ path('Profile') }}" class="user">Welcome {{ app.user.name}}</a>
           {% else %} 
			   <a href="{{ path('Profile') }}" class="user"><i class="ri-user-fill"></i>Welcome {{ app.user.name}}</a>
         {% endif %}
			<a  href="{{ path('app_logout') }}">Logout</a>
			<div class="bx bx-menu" id="menu-icon"></div>
		</div>
</header>

<section class="contact" id="contact" style="margin-top: 7%;">

   <div class="row">

      <div class="image" style="transform:scaleX(-1); margin-right: 5%">
         <img src="image/feedback.svg" alt="" >
      </div>

      {{ form_start(feedbackForm) }}
        {% for label, messages in app.flashes %}
				{% for message in messages %}
					<div class="flash-{{ label }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endfor %}
         <span>Name</span>
         {{ form_widget(feedbackForm.Name, {attr:{class: "box"}}) }}
         <span>Email</span>
         {{ form_widget(feedbackForm.Email, {attr:{class: "box"}}) }}
         <span>Subject</span>
         {{ form_widget(feedbackForm.Subject, {attr:{class: "box"}}) }}
         <span>Feedback</span>
         {{ form_widget(feedbackForm.Feedbacks, {attr:{class: "box"}}) }}
         <input type="submit" value="Send Feedback" class="btn" name="send">
      {{ form_end(feedbackForm) }}

   </div>

</section>


</section>

<footer class="footer" style="margin-top: 10%;">

   <section>

      <div class="share">
         <a href="#" class="fab fa-facebook-f"></a>
         <a href="#" class="fab fa-twitter"></a>
         <a href="#" class="fab fa-linkedin"></a>
         <a href="#" class="fab fa-instagram"></a>
         <a href="#" class="fab fa-youtube"></a>
      </div>

      <div class="credit">&copy; copyright @ 2022-2023 | all rights reserved!</div>

   </section>

</footer>

</body>
{% endblock %}
